Eseguibili/Test
Eseguibili/Client
Eseguibili/Server
Header/Comunicazione.h.gch
Header/Matrice.h.gch
Header/macro.h.gch
Header/Lista-h.gch
Header/Trie.h.gch
Eseguibili/Server
Eseguibili/Client
Eseguibili/Test
